.jumbotron {
	background-color: blue;
	color: black;
	margin-top: 50px; 
}
.btn {
	
}

footer{
	padding: 10px 10px 0 10px;
	background-color: pink ;
	margin-botton: 0px;
	margin-top: 10px;
}
.card-element{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-comprar{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 5px; 
}

.tab-content{
	padding-top: 10px;
}