@yellow:  #fffa19; 
@red: #78110a;
@green: #8ade4e;
@purple: #420f6e;

.margenes (@top: 0px, @bottom: 0px ){
  margin-top: @top;
  margin-bottom: @bottom;
}

.padding (@top , @bottom, @right , @left ){
  padding-top: @top;
  padding-bottom: @bottom;
  padding-right: @right;
  padding-left: @left;
}

.jumbotron {
  background-color: @purple;
  color: black;
  .margenes(50px,0px);
  .padding(0px,0px,5px,0px);
  }

footer {
  .padding(10px,10px,0px,10px);
  background-color: @red;
  .margenes(10px,0px) }

.card-element {
  background-color: @green;
  flex: 1 200px;
 .margenes(10px,0px) 
  }

.btn-comprar {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  .padding(0px,0px,5px,0px); }

.tab-content {
  padding-top: 10px; }
