$yellow: #ffff45;
$red: #f1110a;
$green: #8adffe;

@mixin margenes ($top, $bottom ){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding ($top , $bottom, $right , $left ){
	padding-top: $top;
	padding-bottom: $bottom;
	padding-right: $right;
	padding-left: $left;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
	@include padding(40px,40px,40px,40px);
}
.btn {
	
}

footer{
	@include padding(10px,10px,0px,10px);
	background-color: $red ;
	@include margenes(10px, 0px);
}
.card-element{
	background-color: $green ;
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-comprar{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	@include padding(0px,0px,5px,0px); 
}

.tab-content{
	padding-top: 10px;
}