.jumbotron {
  background-color: #ffff45;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px; }

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 10px;
  background-color: #f1110a;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-element {
  background-color: #8adffe;
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-comprar {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 0px; }

.tab-content {
  padding-top: 10px; }
