.jumbotron {
  background-color: #420f6e;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 0px;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 10px;
  background-color: #78110a;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-element {
  background-color: #8ade4e;
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-comprar {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 0px;
}
.tab-content {
  padding-top: 10px;
}
